<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    {% block style_master %}

    {% endblock %}
    <title>{% block titulo %}

    {% endblock %}</title>
</head>
<body>
<div class="container">
    {% block cuerpo_master %}

    {% endblock %}

    <form id="formModal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="modalGeneral" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
{#<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"#}
{#        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"#}
{#        crossorigin="anonymous"></script>#}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
-->

<script>
    function openModal(modal, formulario, datos) {
        modal.find(".modal-title").text(datos.titulo);
        $(".modal-body").load(datos.url);
        formulario.setAttribute("acction", datos.url);
        modal.modal("show");
    }

    async function submitForm(ev, url = '', fomulario, funcion) {
        ev.preventDefault();
        let formdata = new FormData(fomulario);
        let response = await fetch(url, {
            method: 'POST',
            body: formdata
        }).then(datos => datos);
        if (response.ok) {
            funcion();
        }
    }

    {#async function postData(url = '', data = {}) {#}
    {#    // Opciones por defecto estan marcadas con un *#}
    {#    const response = await fetch(url, {#}
    {#        method: 'POST', // *GET, POST, PUT, DELETE, etc.#}
    {#        mode: 'cors', // no-cors, *cors, same-origin#}
    {#        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached#}
    {#        credentials: 'same-origin', // include, *same-origin, omit#}
    {#        headers: {#}
    {#            'Content-Type': 'application/json'#}
    {#            // 'Content-Type': 'application/x-www-form-urlencoded',#}
    {#        },#}
    {#        redirect: 'follow', // manual, *follow, error#}
    {#        referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url#}
    {#        body: formData // body data type must match "Content-Type" header#}
    {#    });#}
    {#    return response.json(); // parses JSON response into native JavaScript objects#}
    {# }#}
</script>


{% block scripts_master %}

{% endblock %}
</body>
</html>
