{% extends 'base/base.html' %}
{% block titulo %}
    Persona
{% endblock %}
{% block cuerpo_master %}
    <h1>PERSONA</h1>
    <hr>
    <button id="btnNuevaPersona" type="button" class="btn btn-primary btn-sm m-2">Nueva Persona</button>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombres</th>
            <th>DNI</th>
            <th>Fecha Nacimiento</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for persona in persona %}
            <tr>
                <td>{{ persona.nombres }}</td>
                <td>{{ persona.dni }}</td>
                <td>{{ persona.nacimiento }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-info btn-sm btnEditar" data-pk="{{ persona.id }}">Editar</button>
                        <button class="btn btn-danger btn-sm btnEliminar" data-pk="{{ persona.id }}">Eliminar</button>
                        <a class="btn btn-secondary btn-sm" href="{% url 'periodo_trabajo' persona.id %}">Historial</a>
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
{% block scripts_master %}
    <script>
        const modal = $("#modalGeneral");
        const btnNuevaPersona = document.getElementById("btnNuevaPersona");
        const fomulario_modal = document.getElementById("formModal");
        const btnEditar = document.querySelectorAll('.btnEditar');
        const btnEliminar = document.querySelectorAll('.btnEliminar');
        let url = "";
        btnNuevaPersona.onclick = () => {
            url = "{% url 'persona-crear' %}";
            let datos = {
                url: "{% url 'persona-crear' %}",
                titulo: "Nueva Persona"
            }
            openModal(modal, fomulario_modal, datos);
        }
        btnEditar.forEach(element => {
            element.addEventListener("click", evt => {
                url = "{% url 'persona-editar' 0 %}".replace("/0", "/" + element.dataset.pk);
                let datos = {
                    url: url,
                    titulo: "Editar Persona"
                }
                openModal(modal, fomulario_modal, datos);
            });
        });
        btnEliminar.forEach(element => {
            element.addEventListener("click", evt => {
                url = "{% url 'persona-eliminar' 0 %}".replace("/0", "/" + element.dataset.pk);
                let datos = {
                    url: url,
                    titulo: "Eliminar Persona"
                }
                openModal(modal, fomulario_modal, datos);
            });
        });
        fomulario_modal.onsubmit = async (ev) => {
            submitForm(ev, url, fomulario_modal, () => {
                location.reload();
            })
        }
    </script>
{% endblock %}