{% extends 'base/base.html' %}
{% block titulo %}
    Persona
{% endblock %}
{% block cuerpo_master %}
    <h1>PERIODO TRABAJO</h1>
    <hr>
    <p class="display">
        NOMBRE: <strong>{{ object.nombres }}</strong>
    </p>
    <p class="display">
        DNI: <strong>{{ object.dni }}</strong>
    </p>
    <p class="display">
        FECHA: <strong>{{ object.nacimiento }}</strong>
    </p>
    <a class="btn btn-warning btn-sm" href="{% url 'persona' %}">Atras</a>
    <hr>
    <button id="btnNuevoPeriodoTrabajo" type="button" class="btn btn-primary btn-sm m-2">Nueva Persona</button>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>FECHA INICIO</th>
            <th>FECHA FIN</th>
            <th>AREA</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for periodotrabajo in object.periodotrabajo_set.all %}
            <tr>
                <td>{{ periodotrabajo.inicio }}</td>
                <td>{{ periodotrabajo.fin }}</td>
                <td>{{ periodotrabajo.area }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-info btn-sm btnEditar" data-pk="{{ periodotrabajo.id }}">Editar</button>
                        <button class="btn btn-danger btn-sm btnEliminar" data-pk="{{ periodotrabajo.id }}">Eliminar
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
{% block scripts_master %}
    <script>
        const modal = $("#modalGeneral");
        const btnNuevoPeriodoTrabajo = document.getElementById("btnNuevoPeriodoTrabajo");
        const fomulario_modal = document.getElementById("formModal");
        const btnEditar = document.querySelectorAll('.btnEditar');
        const btnEliminar = document.querySelectorAll('.btnEliminar');
        let url = "";
        btnNuevoPeriodoTrabajo.onclick = () => {
            url = "{% url 'periodo_trabajo-crear' object.pk %}";
            let datos = {
                url: url,
                titulo: "Nueva Periodo trabajo"
            }
            openModal(modal, fomulario_modal, datos);
        }
        btnEditar.forEach(element => {
            element.addEventListener("click", evt => {
                url = "{% url 'periodo_trabajo-editar' 0 %}".replace("/0", "/" + element.dataset.pk);
                let datos = {
                    url: url,
                    titulo: "Editar Persona"
                }
                openModal(modal, fomulario_modal, datos);
            });
        });
        btnEliminar.forEach(element => {
            element.addEventListener("click", evt => {
                url = "{% url 'periodo_trabajo-eliminar' 0 %}".replace("/0", "/" + element.dataset.pk);
                let datos = {
                    url: url,
                    titulo: "Eliminar Persona"
                }
                openModal(modal, fomulario_modal, datos);
            });
        });
        fomulario_modal.onsubmit = async (ev) => {
            submitForm(ev, url, fomulario_modal, () => {
                location.reload();
            })
        }
    </script>
{% endblock %}